body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  letter-spacing: -0.05em;
  background-color: white;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.global-nav,
.local-nav {
  position: absolute;
  top: 0;
  height: 5vh;
  width: 80vw;
}

.local-nav {
  position: absolute;
  top: 4vh;
  border-bottom: 1px solid #ddd;
}

.global-nav-link,
.local-nav-link {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: bold;
}

.local-nav-link a:not(.logo) {
  margin-left: 2em;
  font-size: 0.8rem;
}

/* scroll-section */
.scroll-section {
  padding-top: 50vh;
}

#scroll-section-0 h1 {
  font-size: 4rem;
  text-align: center;
}

.main-massage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  font-size: 2rem;
  margin-top: 1vh;
  padding: 0 10vw;
  opacity: 0;
}

.main-massage p {
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

#scroll-section-1 .description {
  padding: 0 10vw;
  font-size: 1.2rem;
  color: #888;
}

#scroll-section-1 .description strong {
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: black;
}

#scroll-section-2 .main-massage {
  font-size: 2.5rem;
}

#scroll-section-2 .main-massage small {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

.desc-massage {
  font-weight: bold;
  width: 50%;
  margin-top: 2em;
}

.pin {
  width: 1px;
  height: 100px;
  background-color: black;
}

.mid-message {
  padding: 0 10vw;
  font-size: 2rem;
  color: #888;
}

.mid-message strong {
  display: block;
  color: black;
}

.canvas-caption {
  padding: 0 10vw;
  font-size: 1.2rem;
  color: #888;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 100vw;
  background-color: #888;
}

/* detail set */
.sticky-elem {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}
